<div class="row formWrapper">
  <form (submit)="addLesson(lessonForm)" #lessonForm="ngForm">
    <select name="name"
            #name="ngModel"
            ngModel
            required>
      <option value="{{lesson.name}}" *ngFor="let lesson of lessonService.lessons">{{lesson.name}}</option>
    </select>
    <input
      type="number"
      #number="ngModel"
      name="time"
      min="1"
      ngModel
      required
      placeholder="Time">
    <input
      type="date"
      #date="ngModel"
      name="date"
      ngModel
      required
      placeholder="Date">
    <button type="submit" [disabled]="lessonForm.invalid">Add</button>
  </form>
</div>
